# all C files (implementation and header) use our style...
*.[ch] citus-style
pg_documentdb/src/roaring_bitmaps/*.[ch] -citus-style
pg_documentdb_extended_rum/core/src/roaring_bitmaps/*.[ch] -citus-style

* text=auto
*.sh text eol=lf
*.md text eol=lf
*.sql text eol=lf

# All Rust Files are UTF-8 and use lf instead of crlf
*.rs       text diff=rust encoding=utf-8 eol=lf
*.toml     text diff=toml encoding=utf-8 eol=lf
Cargo.lock text