* @documentdb/documentdb-maintainers

/.pipelines/ @safern @visridha @xgerman
/.github/workflows/ @safern @visridha @xgerman
/packaging/ @safern @visridha @xgerman

*.csv @documentdb/documentdb-maintainers
*.sql @documentdb/documentdb-maintainers
Make* @documentdb/documentdb-maintainers
/internal/ @documentdb/documentdb-maintainers
/pg_documentdb/ @documentdb/documentdb-maintainers
/pg_documentdb_core/ @documentdb/documentdb-maintainers