* @documentdb/documentdb-maintainers

/.pipelines/ @safern @visridha @shuaitian-git @lichoil @xgerman @tsharp
/.github/workflows/ @safern @visridha @shuaitian-git @lichoil @xgerman @tsharp
/packaging/ @safern @visridha @shuaitian-git @lichoil @fatmelon @xgerman

*.csv @documentdb/documentdb-maintainers
*.sql @documentdb/documentdb-maintainers
Make* @documentdb/documentdb-maintainers
/internal/ @documentdb/documentdb-maintainers
/pg_documentdb/ @documentdb/documentdb-maintainers
/pg_documentdb_core/ @documentdb/documentdb-maintainers

/rust-toolchain.toml @documentdb/gateway-owners
/pg_documentdb_gw_host/ @documentdb/gateway-owners
/pg_documentdb_gw/ @documentdb/gateway-owners
/rfcs/ @documentdb/gateway-owners
/.devcontainer/ @documentdb/gateway-owners
/documentdb_errors.csv @documentdb/gateway-owners
/error_mappings.csv @documentdb/gateway-owners
