#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_test:
	make install
	adduser --disabled-password --gecos "" documentdb
	chown -R documentdb:documentdb .
	# Pass PG bin dir on PATH so TAP tests can locate initdb under `su`.
	su documentdb -c "PATH=\"$$(pg_config --bindir):\$$PATH\" make check"